div {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#outer {
    width: 300px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#display {
    height: 20%;
}

.buttons {
    height: 80%;
    border: 2px solid dodgerblue;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.btnDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    flex: 1;
    height: 100%;
    font-size: 16px;
}

#display {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}

#input {
    height: 50%;
    border: 5px solid green;
    display: flex;
}

#result {
    border: 5px solid royalblue;
    height: 50%;
}





